In [1]:
e ={}

In [2]:
type(e)

dict

In [3]:
l = []

In [4]:
type(l)

list

In [5]:
y = ( 2343,65,23,12)

In [6]:
y

(2343, 65, 23, 12)

In [7]:
type(y)

tuple

In [9]:
person = ("Alice", 25, "Engineer")
name,age,profession = person

person

In [10]:
print(person)

('Alice', 25, 'Engineer')

In [11]:
name

'Alice'

In [12]:
age

25

In [13]:
profession

'Engineer'

In [16]:
t1 = (1, 2, 3)
t2 = ("apple", "banana", "cherry")
t3 = (1, 2, True, "Roshan", [5, 6])
t4 = (5,)   # single-element tuple → must include comma

In [17]:
t = (1, 2, 3, 2, 4, 2)

print(t.count(2))   # → 3   (counts how many times 2 appears)
print(t.index(3))   # → 2   (returns index of first 3)

3
2

In [18]:
t = (10, 20, 30, 40)
print(t[0])   # 10
print(t[-1])  # 40

10
40

In [19]:
t = (1, 2, 3, 4, 5)
print(t[1:4])    # (2, 3, 4)
print(t[:3])     # (1, 2, 3)
print(t[::-1])   # (5, 4, 3, 2, 1)

(2, 3, 4)
(1, 2, 3)
(5, 4, 3, 2, 1)

In [20]:
t1 = (1, 2)
t2 = (3, 4)
print(t1 + t2)      # Concatenation → (1, 2, 3, 4)
print(t1 * 2)       # Repetition → (1, 2, 1, 2)
print(2 in t1)      # Membership → True

(1, 2, 3, 4)
(1, 2, 1, 2)
True

In [21]:
t = (10, 20, 30)
a, b, c = t
print(a, b, c)   # 10 20 30

10 20 30

In [22]:
t = (1, (2, 3), (4, 5))
print(t[1][0])   # 2

2

In [23]:
t = (1, 2, 3)
# t[0] = 10   ❌ TypeError